.bioContainer {

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: .25fr 1fr 1fr 1fr 1fr .25fr;
    grid-template-areas: 
    ". Nav ."
    ". Me ."
    ". Interest ."
    ". Hobbies ."
    ". Quote ."
    ". . .";

    width: 100%; 
    height: auto;
}
