
.background {
        /* The image used */
        background-image:url("/Images/SnowBackground.jpg");
    
       /* Full height */
        min-height: 100%; 
        min-width: 100%;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    
       /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.clearBackground {
        /* The image used */
        background-image:url("/Images/SunnyBackground.jpg");
    
       /* Full height */
        min-height: 100%; 
        min-width: 100%;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    
       /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.cloudyBackground {
        /* The image used */
        background-image:url("/Images/CloudyBackground.jpeg");
    
       /* Full height */
        min-height: 100%; 
        min-width: 100%;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    
       /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.snowBackground {
          /* The image used */
          background-image:url("/Images/snow-background.jpeg");
          
             /* Full height */
              min-height: 100%; 
              min-width: 100%;
      
              width: 100%;
              height: auto;
      
              position: fixed;
              top: 0;
              left: 0;
              z-index: -1;
          
             /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
}

.fogBackground {
          /* The image used */
          background-image:url("/Images/FogBackground.jpeg");
          
             /* Full height */
              min-height: 100%; 
              min-width: 100%;
      
              width: 100%;
              height: auto;
      
              position: fixed;
              top: 0;
              left: 0;
              z-index: -1;
          
             /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
}

.rainyBackground {
          /* The image used */
          background-image:url("/Images/FogBackground.jpg");
          
             /* Full height */
              min-height: 100%; 
              min-width: 100%;
      
              width: 100%;
              height: auto;
      
              position: fixed;
              top: 0;
              left: 0;
              z-index: -1;
          
             /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
}
